{% extends 'base.html' %}
{% load static %}


{% block extend_head %}


{% endblock %}


{% block content %}

<h3 id="map"></h3>

<!-- Main Body Content -->
<div class="container-fluid text-center">
  <div class="row content">

    <!-- Options Sidebar -->
    <div class="col-sm-2 sidenav">

      <input type="hidden" class="geo" id="id-lat-a" value="">
      <input type="hidden" class="geo" id="id-long-a" value="">
      <input type="hidden" class="geo" id="id-lat-b" value="">
      <input type="hidden" class="geo" id="id-long-b" value="">
      <input type="hidden" class="geo" id="id-lat-c" value="">
      <input type="hidden" class="geo" id="id-long-c" value="">
      <input type="hidden" class="geo" id="id-lat-d" value="">
      <input type="hidden" class="geo" id="id-long-d" value="">
      <input type="hidden" class="geo" id="id-lat-e" value="">
      <input type="hidden" class="geo" id="id-long-e" value="">
      <input type="hidden" class="geo" id="id-lat-f" value="">
      <input type="hidden" class="geo" id="id-long-f" value="">
      <input type="hidden" class="geo" id="id-lat-g" value="">
      <input type="hidden" class="geo" id="id-long-g" value="">
      <input type="hidden" class="geo" id="id-lat-h" value="">
      <input type="hidden" class="geo" id="id-long-h" value="">
      <input type="hidden" class="geo" id="id-lat-i" value="">
      <input type="hidden" class="geo" id="id-long-i" value="">
      <input type="hidden" class="geo" id="id-lat-j" value="">
      <input type="hidden" class="geo" id="id-long-j" value="">
      <input type="hidden" class="geo" id="id-lat-k" value="">
      <input type="hidden" class="geo" id="id-long-k" value="">
      <input type="hidden" class="geo" id="id-lat-l" value="">
      <input type="hidden" class="geo" id="id-long-l" value="">
      <input type="hidden" class="geo" id="id-lat-m" value="">
      <input type="hidden" class="geo" id="id-long-m" value="">
      <input type="hidden" class="geo" id="id-lat-n" value="">
      <input type="hidden" class="geo" id="id-long-n" value="">
      <input type="hidden" class="geo" id="id-lat-o" value="">
      <input type="hidden" class="geo" id="id-long-o" value="">
      <input type="hidden" class="geo" id="id-lat-p" value="">
      <input type="hidden" class="geo" id="id-long-p" value="">
      <input type="hidden" class="geo" id="id-lat-q" value="">
      <input type="hidden" class="geo" id="id-long-q" value="">
      <input type="hidden" class="geo" id="id-lat-r" value="">
      <input type="hidden" class="geo" id="id-long-r" value="">
      <input type="hidden" class="geo" id="id-lat-s" value="">
      <input type="hidden" class="geo" id="id-long-s" value="">
      <input type="hidden" class="geo" id="id-lat-t" value="">
      <input type="hidden" class="geo" id="id-long-t" value="">
      <input type="hidden" class="geo" id="id-lat-u" value="">
      <input type="hidden" class="geo" id="id-long-u" value="">
      <input type="hidden" class="geo" id="id-lat-v" value="">
      <input type="hidden" class="geo" id="id-long-v" value="">
      <input type="hidden" class="geo" id="id-lat-w" value="">
      <input type="hidden" class="geo" id="id-long-w" value="">

      <!-- Route Selection -->
      <h4>Off Campus Routes:</h4>
      <select id="Off Campus" class="form-select" onchange="offCampusRoutes()">
        <option selected>Select Off Campus Route</option>
        {% for route in ALL_ROUTES %}
          {% if route.Area == "Off Campus" %}
            <option value="{{route.ID}}">{{route.Number}} {{route.Name}}</option>
          {% endif %}
        {% endfor %}
      </select>

      <h4>On Campus Routes:</h4>
      <select id="On Campus" class="form-select" onchange="onCampusRoutes()">
        <option selected>Select On Campus Route</option>
        {% for route in ALL_ROUTES %}
          {% if route.Area == "On Campus" %}
            <option value="{{route.ID}}">{{route.Number}} {{route.Name}}</option>
          {% endif %}
        {% endfor %}
      </select>

      <br></br>

      <!-- Location Inputs -->
      <div class="form-group">
        <label for="start">Start Address</label>
        <input type="text"  class="form-control" placeholder="*Start typing address" id="id-google-address-a" name="google_address_a">
      </div>
      <div class="form-group">
        <label for="id-google-address-b">Destination Address</label>
        <input type="text" class="form-control" placeholder="*Start typing address" id="id-google-address-b" name="google_address_b">
      </div>
      
      <!-- Confirm Input -->
      <button id="mapNavigate" label="mapNavigate">Navigate</button>

      <!-- Stop Display -->
      {% if not ROUTE_NAME == "" %}
      <h3>{{ROUTE_NUMBER}} {{ROUTE_NAME}}</h3>
      <h3>From {{SOURCE_STOP}} to {{DEST_STOP}}</h3>
      {% endif %}

    </div>

<div class="map-container">

   <div id="map-route"></div>


</div>



{% endblock %}

{% block extend_footer %}


<script type="text/javascript">

  var MAP_KEY = "{{MAP_KEY|safe}}";
  var lat_a = {{lat_a|safe}};
  var long_a = {{long_a|safe}};
  var lat_b = {{lat_b|safe}};
  var long_b = {{long_b|safe}};
  var lat_c = {{lat_c|safe}};
  var long_c = {{long_c|safe}};
  var lat_d = {{lat_d|safe}};
  var long_d = {{long_d|safe}};
  var lat_e = {{lat_e|safe}};
  var long_e = {{long_e|safe}};
  var lat_f = {{lat_f|safe}};
  var long_f = {{long_f|safe}};
  var lat_g = {{lat_g|safe}};
  var long_g = {{long_g|safe}};
  var lat_h = {{lat_h|safe}};
  var long_h = {{long_h|safe}};
  var lat_i = {{lat_i|safe}};
  var long_i = {{long_i|safe}};
  var lat_j = {{lat_j|safe}};
  var long_j = {{long_j|safe}};
  var lat_k = {{lat_k|safe}};
  var long_k = {{long_k|safe}};
  var lat_l = {{lat_l|safe}};
  var long_l = {{long_l|safe}};
  var lat_m = {{lat_m|safe}};
  var long_m = {{long_m|safe}};
  var lat_n = {{lat_n|safe}};
  var long_n = {{long_n|safe}};
  var lat_o = {{lat_o|safe}};
  var long_o = {{long_o|safe}};
  var lat_p = {{lat_p|safe}};
  var long_p = {{long_p|safe}};
  var lat_q = {{lat_q|safe}};
  var long_q = {{long_q|safe}};
  var lat_r = {{lat_r|safe}};
  var long_r = {{long_r|safe}};
  var lat_s = {{lat_s|safe}};
  var long_s = {{long_s|safe}};
  var lat_t = {{lat_t|safe}};
  var long_t = {{long_t|safe}};
  var lat_u = {{lat_u|safe}};
  var long_u = {{long_u|safe}};
  var lat_v = {{lat_v|safe}};
  var long_v = {{long_v|safe}};
  var lat_w = {{lat_w|safe}};
  var long_w = {{long_w|safe}};
  var origin = "{{origin|safe}}";
  var destination = "{{destination|safe}}";
  var directions = {{directions|safe}};

</script>

<script src="{% static 'google_maps.js' %}"></script>

<script type="text/javascript">

  var MAP_KEY = "{{MAP_KEY|safe}}";
  var base_country = "{{base_country|safe}}";

</script>

{{ALL_ROUTES|json_script:"ALL_ROUTES"}};
<script src="{% static 'google_places_waypoints.js' %}"></script>


{% endblock %}