{% extends 'base.html' %}
{% load static %}


{% block extend_head %}


{% endblock %}


{% block content %}

<h3 id="map"></h3>

<!-- Main Body Content -->
<div class="container-fluid text-center">
  <div class="row content">
    <h4>Bus Route Map</h4>

    <!-- Options Sidebar -->
    <div class="col-sm-2 sidenav">

      <!-- Route Selection -->
      <h4>Select Route:</h4>
      <select class="form-select" aria-label="routeSelectMap">
        <option selected>All Routes</option>
        <option value="Reveile 12">Reveile 12</option>
      </select>

      <!-- Date Input -->
      <h4>Select Date:</h4>

      <!-- Location Inputs -->
      <div class="form-group">
        <label for="start">Start Address:</label>
        <input type="text" class="form-control" id="start">
      </div>
      <div class="form-group">
        <label for="end">End Address:</label>
        <input type="text" class="form-control" id="end">
      </div>
      
      <!-- Confirm Input -->
      <button label="mapNavigate">Navigate</button>

    </div>

<div class="map-container">

   <div id="map-route"></div>


</div>



{% endblock %}

{% block extend_footer %}


<script type="text/javascript">

    var MAP_KEY = "{{MAP_KEY|safe}}";
    var lat_a = {{lat_a|safe}};
    var long_a = {{long_a|safe}};
    var lat_b = {{lat_b|safe}};
    var long_b = {{long_b|safe}};
    var lat_c = {{lat_c|safe}};
    var long_c = {{long_c|safe}};
    var lat_d = {{lat_d|safe}};
    var long_d = {{long_d|safe}};
    var lat_e = {{lat_e|safe}};
    var long_e = {{long_e|safe}};
    var lat_f = {{lat_f|safe}};
    var long_f = {{long_f|safe}};
    var lat_g = {{lat_g|safe}};
    var long_g = {{long_g|safe}};
    var lat_h = {{lat_h|safe}};
    var long_h = {{long_h|safe}};
    var origin = "{{origin|safe}}";
    var destination = "{{destination|safe}}";
    var directions = {{directions|safe}};

  </script>

  <script src="{% static 'google_maps.js' %}"></script>


{% endblock %}