{% extends 'base.html' %}
{% load static %}


{% block extend_head %}


{% endblock %}


{% block content %}


<body>
  
  <!-- Main Body Content -->
  <div class="container-fluid text-center">
    <div class="row content">

      <!-- Options Sidebar -->
      <div class="col-sm-2 sidenav">


   <input type="hidden" class="geo" id="id-lat-a" value="">
   <input type="hidden" class="geo" id="id-long-a" value="">
   <input type="hidden" class="geo" id="id-lat-b" value="">
   <input type="hidden" class="geo" id="id-long-b" value="">
   <input type="hidden" class="geo" id="id-lat-c" value="">
   <input type="hidden" class="geo" id="id-long-c" value="">
   <input type="hidden" class="geo" id="id-lat-d" value="">
   <input type="hidden" class="geo" id="id-long-d" value="">
   <input type="hidden" class="geo" id="id-lat-e" value="">
   <input type="hidden" class="geo" id="id-long-e" value="">
   <input type="hidden" class="geo" id="id-lat-f" value="">
   <input type="hidden" class="geo" id="id-long-f" value="">
   <input type="hidden" class="geo" id="id-lat-g" value="">
   <input type="hidden" class="geo" id="id-long-g" value="">
   <input type="hidden" class="geo" id="id-lat-h" value="">
   <input type="hidden" class="geo" id="id-long-h" value="">
   <input type="hidden" class="geo" id="id-lat-i" value="">
   <input type="hidden" class="geo" id="id-long-i" value="">
   <input type="hidden" class="geo" id="id-lat-j" value="">
   <input type="hidden" class="geo" id="id-long-j" value="">
   <input type="hidden" class="geo" id="id-lat-k" value="">
   <input type="hidden" class="geo" id="id-long-k" value="">
   <input type="hidden" class="geo" id="id-lat-l" value="">
   <input type="hidden" class="geo" id="id-long-l" value="">
   <input type="hidden" class="geo" id="id-lat-m" value="">
   <input type="hidden" class="geo" id="id-long-m" value="">
   <input type="hidden" class="geo" id="id-lat-n" value="">
   <input type="hidden" class="geo" id="id-long-n" value="">
   <input type="hidden" class="geo" id="id-lat-o" value="">
   <input type="hidden" class="geo" id="id-long-o" value="">
   <input type="hidden" class="geo" id="id-lat-p" value="">
   <input type="hidden" class="geo" id="id-long-p" value="">
   <input type="hidden" class="geo" id="id-lat-q" value="">
   <input type="hidden" class="geo" id="id-long-q" value="">
   <input type="hidden" class="geo" id="id-lat-r" value="">
   <input type="hidden" class="geo" id="id-long-r" value="">
   <input type="hidden" class="geo" id="id-lat-s" value="">
   <input type="hidden" class="geo" id="id-long-s" value="">
   <input type="hidden" class="geo" id="id-lat-t" value="">
   <input type="hidden" class="geo" id="id-long-t" value="">
   <input type="hidden" class="geo" id="id-lat-u" value="">
   <input type="hidden" class="geo" id="id-long-u" value="">
   <input type="hidden" class="geo" id="id-lat-v" value="">
   <input type="hidden" class="geo" id="id-long-v" value="">
   <input type="hidden" class="geo" id="id-lat-w" value="">
   <input type="hidden" class="geo" id="id-long-w" value="">
   
   

        <!-- Route Selection -->
      <h4>Off Campus Routes:</h4>
      <select id="Off Campus" class="form-select" onchange="offCampusRoutes()">
        <option selected>Select Off Campus Route</option>
        {% for route in ALL_ROUTES %}
          {% if route.Area == "Off Campus" %}
            <option value="{{route.ID}}">{{route.Number}} {{route.Name}}</option>
          {% endif %}
        {% endfor %}
      </select>

      <h4>On Campus Routes:</h4>
      <select id="On Campus" class="form-select" onchange="onCampusRoutes()">
        <option selected>Select On Campus Route</option>
        {% for route in ALL_ROUTES %}
          {% if route.Area == "On Campus" %}
            <option value="{{route.ID}}">{{route.Number}} {{route.Name}}</option>
          {% endif %}
        {% endfor %}
      </select>


        <br></br>

        <!-- Location Inputs -->
        <div class="form-group">
          <label for="start">Start Address</label>
          <input type="text"  class="form-control" placeholder="*Start typing address" id="id-google-address-a" name="google_address_a">
        </div>
        <div class="form-group">
          <label for="id-google-address-b">Destination Address</label>
          <input type="text" class="form-control" placeholder="*Start typing address" id="id-google-address-b" name="google_address_b">
        </div>
        
        <!-- Confirm Input -->
        <button id="mapNavigate" label="mapNavigate">Navigate</button>

      </div>

      <!-- Map Area -->
      <div class="col-sm-10 text-left" id="map">
      <script async defer
        src='{{MAP_URL}}'>
      </script>
      </div>

    </div>
  </div>
</body>

   

{% endblock %}

{% block extend_footer %}


    <script type="text/javascript">

      var MAP_KEY = "{{MAP_KEY|safe}}";
      var base_country = "{{base_country|safe}}";

    </script>

  {{ALL_ROUTES|json_script:"ALL_ROUTES"}};
  <script src="{% static 'google_places_waypoints.js' %}"></script>


{% endblock %}